@import url("/css/switzer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Switzer-Variable", sans-serif;
    font-optical-sizing: auto;
    -webkit-tap-highlight-color: transparent;
    animation-timing-function: cubic-bezier(0.3, 0, 0.8, 0.15);
}

main {
    display: block;
    width: 100%;
}
body {
    background: var(--bg-backdrop);
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.app-layout {
    display: grid;
    grid-template-columns: 700px 1fr;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    gap: 32px;
    align-items: start;
    padding: 32px;
}

/*containers for quiz on the left*/
.main-content {
    flex: 3;
    width: 100%;
}
.quiz-container {
    width: 100%;
    max-width: 800px;
    min-height: 550px;
    max-height: 100vh;
    margin: 0 auto;
    scrollbar-width: none;
    position: relative;
    animation: fadeInOut 0.5s forwards;
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*some font stuff*/
h1 {
    color: var(--text-white);
    font-size: var(--font-lg);
    font-weight: 500;
    margin-bottom: 32px;
}

h3 {
    color: var(--text-dark);
    margin: 16px 0px 32px 0px;
}

p {
    font-size: var(--font-sm);
    font-weight: 500;
    color: var(--text-muted);
}

b {
    font-weight: 800 !important;
}
sub {
    font-size: var(--font-sm);
}

a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.3em;
    margin-left: 1.5px;
    opacity: 1;
    transition: var(--transition-snappy);
}


/*invert some icons*/
.back-btn,
.forward-btn,
.question-icon,
#particle-canvas,
#tile-particles canvas {
    filter: invert(1) !important;
}

/*header buttons and icons*/
.header img {
    height: 32px;
    width: auto;
}

#logo {
    cursor: pointer;
}

/*button that open sidebar*/
#sidebarbtn {
    position: absolute;
    left: 20px;
    height: 42px;
    width: 42px;
    padding: 13px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 50;
}

/*container that contains whole quiz + anwsers*/
.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*dark question container / result header*/
.darkbox {
    position: relative;
    width: 100%;
    font-size: var(--font-md) !important;
    color: var(--text-dark);
    text-align: center;
    align-items: center;
    background-color: var(--bg-cards-dark);
    margin-bottom: 32px;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-soft);
}
.darkbox p {
    color: var(--text-white);
    font-size: var(--font-md);
    margin-top: 24px;
}

/*white containers*/
.whitebox {
    background-color: var(--bg-cards);
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.1) 95%,
        rgba(50, 50, 70, 0.14) 100%
    );
    background-size: calc(100% + 64px) calc(100% + 64px);
    color: var(--text-muted);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-hard);
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 24px 24px;
    background-position: -64px -64px !important;
}

.whitebox.active {
    border: 1px solid var(--bg-pop) !important;
    background-position: 0px 0px !important;
}

/*progress bars*/
.progress {
    width: 100%;
    height: 4px;
    overflow: hidden;
    border-radius: 32px;
}

.progressinner {
    height: 100%;
    width: 0%;
    background: var(--bg-pop);
    transition: var(--transition-smooth);
    border-radius: 32px;
}
