.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  overflow: hidden; 
}

.slider::-webkit-slider-runnable-track {
  background-color: var(--bg-alt);
  height: 6px;
  border-radius: 10px;
  border: var(--outline-weak);
    box-shadow: var(--shadow-harder);
}

.slider::-moz-range-track {
  background-color: var(--bg-alt);
  height: 6px;
  border-radius: 10px;
  border: var(--outline-weak);
    box-shadow: var(--shadow-harder);
  
}

.slider::-moz-range-progress {
  background-color: var(--bg-pop);
  height: 6px;
  border-radius: 3px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-top: -5px;
  box-shadow: -10000px 0 0 10000px var(--bg-pop);
}
.question-tag .small-icon {
    height: 16px;
}

.overview-list {
    display: flex;
    flex-direction: column;
    margin: 0 16px 64px 16px;
    margin-bottom: 64px;
    overflow-y: auto;
   
    border-radius: var(--radius-md);

    padding-bottom:20vh;
}
.overview-item {
    padding: 16px 24px 10px 24px;
    min-height: auto;

    margin-top: 8px;
    margin-bottom: 8px;

   


}

.answer-text {
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-xs);
    opacity: 0.7;
    text-align: right;
}
.question-text {
    color: var(--text-muted);
    font-weight: 600;
    margin-bottom: 8px;
    margin-top:-16px;
    font-size: var(--font-xs)!important;

}
.question-tag {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;

    border-radius: var(--radius-sm);
    padding: 0px 0px 0px 0px;
    font-size: var(--font-xs) !important;
    margin-bottom: 8px;
 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    flex-shrink: 0;
}

.resultheader .question-icon {
    margin-top: 13px;
}

.title-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-top-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}
.item-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}

input[type="radio"] {
    display: none;
}

.boolean-toggles{
    margin-top: 16px;
}
.radioanswer {
    background-color: var(--bg-bright);
    color: var(--text-muted);
    border-radius: var(--radius-md);
    border: var(--outline-weak)!important;
    padding: 8px 8px;
    margin: 8px 4px;
    font-size: var(--font-xs);
    min-height: 0;
    border-radius: var(--radius-sm);
}
.radioanswer:hover{

    border: var(--outline-strong)!important;
    transform: translateY(-0.5px);
    box-shadow: var(--shadow-hard);
}
.active{

    border: var(--outline-strong)!important;
    border-color: var(--bg-pop)!important;
}