   .start-container {
        margin: 0 auto;
    }

    .startpage {
        text-align: center;
        padding: 55px 32px 0 32px !important;
        margin-top: 0;
        margin: 0 32px;
    }

    .startpage p {
        font-size: var(--font-sm);
        
    }

    #start-btn {
        background: var(--bg-pop);
        color: var(--bg-backdrop);
          box-shadow: var(--shadow-hard);
         transition: var(--transition-snappy);
        border: none;
        padding: 12px 32px;
        border-radius: var(--radius-md);
        margin: 32px 0;
        cursor: pointer;
        font-weight: 600;
        font-size: var(--font-sm);
        border: var(--outline-weak);
    }

    #start-btn:hover {
        box-shadow: var(--shadow-hard-hover);
        transform: translateY(-2px);

    }

    .radar {
        width: 64px !important;
        height: 64px !important;
        margin-bottom: 16px;
        margin-top: 24px;
        filter: drop-shadow(0rem 0.35rem 1rem rgba(0, 0, 0, 0.1)) !important;
        animation: fadeInOut 1s forwards ease 0.5s;
    }

   
.attention {
    display: inline-flex;
    align-items: center;
    text-align: left;
    gap: 8px;
    background-color: var(--bg-alt);
    padding: 8px 10px;
    margin-top: 28px;
    border-radius: var(--radius-sm);
    border: var(--outline-weak);
}
.warn-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    margin-top: -1px;
    opacity: 0.8;
}