.slider {
    width: 100%;
    accent-color: var(--bg-pop);

}
.question-tag .small-icon {
    height: 16px;
}

.overview-list {
    display: flex;
    flex-direction: column;
    margin: 0 16px 64px 16px;
    margin-bottom: 64px;
    overflow-y: auto;
    padding: 16px 0;
    border-radius: var(--radius-md);
    padding: 0px 6px;
    padding-bottom:20vh;
}
.overview-item {
    padding: 16px 24px 10px 24px;
    min-height: auto;

    margin-top: 16px;

   


}

.overview-item:last-child {
    border-bottom: none;
}
.answer-text {
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-xs);
    opacity: 0.7;
    text-align: right;
}
.question-text {
    color: var(--text-muted);
    font-weight: 600;
    margin-bottom: 8px;
    margin-top:-16px;
    font-size: var(--font-xs)!important;

}
.question-tag {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;

    border-radius: var(--radius-sm);
    padding: 0px 0px 0px 0px;
    font-size: var(--font-xs) !important;
    margin-bottom: 8px;
 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    flex-shrink: 0;
}

.resultheader .question-icon {
    margin-top: 13px;
}

.title-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-top-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}
.item-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}