.frage {
    padding: 16px 64px 16px 64px;
    margin-top: 180px;
    overflow: visible;
}

.resultheader {
    padding: 28px 64px 36px 64px;
    margin-top: 128px;
}

.frage img {
    width: auto;
    margin-left: auto;
    margin-right: auto;

    color: var(--text-white);
}

.question-icon {
    margin-top: 24px;
    height: 48px;
    margin-top: 32px;
    margin-bottom: 0px;
}

input[type="radio"] {
    display: none;
}

label {
    width: auto;
    height: auto;
    min-height: 60px;
    font-size: var(--font-sm);
    display: block;
    cursor: pointer;
    user-select: none;
    background-position: -64px -64px !important;
    margin: 0 16px 16px 16px;
    border: var(--outline-strong) !important;
    transition:
        background-position 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

label b {
    margin-right: 4px;
}

label:hover {
    box-shadow: var(--shadow-hard-hover);
    transform: translateY(-2px);
    background-position: 0px 0px !important;
    color: var(--text-dark);
}

.nav-btn {
    position: absolute;
    top: 0;
    height: 100%;
    width: 64px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        background 0.2s ease,
        opacity 0.15s ease;
    opacity: 0.6;
    z-index: 10;
}

.nav-btn.back-btn {
    left: 0;
}

.nav-btn.forward-btn {
    right: 0;
}

.nav-btn.back-btn:hover {
    background: linear-gradient(
        to right,
        rgba(100, 100, 100, 0.1),
        transparent
    );
    opacity: 1;
    border-top-left-radius: var(--radius-lg);
    border-bottom-left-radius: var(--radius-lg);
}

.nav-btn.forward-btn:hover {
    background: linear-gradient(to left, rgba(100, 100, 100, 0.1), transparent);
    opacity: 1;
    border-top-right-radius: var(--radius-lg);
    border-bottom-right-radius: var(--radius-lg);
}

.nav-btn img {
    width: 16px;
    height: auto;
    position: relative;
    top: 12px;
}

.forward-btn img {
    transform: rotate(90deg);
}

.back-btn img {
    transform: rotate(-90deg);
}
h2 {
    color: var(--text-white);
}
.frage .progress {
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
    background: var(--bg-alt-dark);
    overflow: hidden;
    margin-top: 32px;
    margin-bottom: 24px;
}
