@font-face { font-family: "Switzer"; src: url("../fonts/Switzer-Variable.ttf") format("truetype"); font-style: normal; }

:root {
  /*--COLORS*/
  --bg-light: #ffffff;
  --bg-translucent: #efedf8cc;
  --bg-soft: #f7f6fb;
  --bg-card: #efedf8;
  --bg-dark: #d7d8f1;
  --bg-primary: #5583f8;
  --bg-primary-dark: #3d30f0;
  --text-dark: #000000;
  --text-muted: #3d3846;
  --text-link: #2e75cc;
  /*--RADIUS*/
  --radius-lg: 32px;
  --radius-md: 16px;
  --radius-sm: 8px;
  /*--SHADOWS*/
  --shadow-soft: 0px 15px 36px -30px rgba(0, 0, 0, 0.0);
  --shadow-hard: 0px 3.5px 12px -10px rgba(0, 0, 0, 0.0);
  --shadow-big:  0px 14px 15px -13px rgba(0, 0, 0, 0.0);
  /*--FONT SIZE*/
  --font-sm: 13.5px;
  --font-md: 16.5px;
  --font-lg: 25.6px;
  --font-xl: 45.1px;


  interpolate-size: allow-keywords;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Switzer", sans-serif;
  -webkit-tap-highlight-color: transparent;
  animation-timing-function: cubic-bezier(0.3, 0.0, 0.8, 0.15);
}




@media (prefers-color-scheme: dark) {
  :root {
   --bg-light: #544d62;
  --bg-translucent: #49455266;
  --bg-soft: #332f3b;
  --bg-card: #494552;
  --bg-dark: #191521;
  --bg-primary: #6366f1;
  --bg-primary-dark: #5658c8;
  --text-dark: #f5f3ec;
  --text-muted: #dcdbd8;
  --text-link: #2e75cc;
  --shadow-soft: 0px 10px 30px -5px rgba(0, 0, 0, 0.0);
  --shadow-hard: 0px 3.5px 14px -11px rgba(0, 0, 0, 0.0);
  }

  .header img, .arrow-icon, .sidebarbtn, .frage img, .distro-icon{
    filter: invert(1)!important;
  }

  
  

}
