@media (prefers-color-scheme: dark) {
    :root {
        --bg-backdrop: #231524;
        --bg-backdrop-alt: transparent;
        --bg-cards: #27272a;
        --bg-alt: #333338;
        --bg-cards-dark: #2a2a2e;
        --bg-alt-dark: #333338;
        --bg-pop: #60a5fa;
        --bg-translucent: rgba(35, 21, 36, 0.7);
        --bg-translucent-alt: rgba(42, 42, 46, 0.7);
        --text-dark: #ffffff;
        --text-muted: #d4d4d8;
        --text-white: #d4d4d8;
    --outline-strong: 1px solid rgba(125, 123, 129, 0.4);
    --outline-weak: 1px solid rgba(125, 123, 129, 0.1);
        --outline-pop: 1px solid color-mix(in srgb, var(--bg-pop) 50%, transparent);
    }
    #logo,
    .distro-icon,
    .tagimage,
    .chart-container, .sidebaritem img, .arrow-icon, .small-icon, #sidebarbtn, .placeholder-icon, .warn-icon {
        filter: invert(1);
    }
    .sidebaritem:hover{
        background-color: var(--bg-translucent-alt)!important;
    }
     .sidebaritem{
        background-color: var(--bg-translucent)!important;
        border:var(--outline-strong)
    }
}
