@media (prefers-color-scheme: dark) {
    :root {
        --bg-backdrop: oklch(0.206 0.038 322.4);
        --bg-backdrop-alt: transparent;
        --bg-cards: oklch(0.278 0.006 281);
        --bg-alt: oklch(0.321 0.006 281);
        --bg-cards-dark: oklch(0.283 0.006 281);
        --bg-alt-dark: oklch(0.321 0.006 281);
        --bg-pop: oklch(0.718 0.13 252);
        --bg-translucent: oklch(0.206 0.038 322.4 / 0.7);
        --bg-translucent-alt: oklch(0.283 0.006 281 / 0.7);
        --text-dark: oklch(1 0 0);
        --text-muted: oklch(0.864 0.004 281);
        --text-white: oklch(0.864 0.004 281);
        --outline-strong: 1px solid oklch(0.56 0.007 300 / 0.4);
        --outline-weak: 1px solid oklch(0.56 0.007 300 / 0.1);
        --outline-pop: 1px solid color-mix(in oklch, var(--bg-pop) 50%, transparent);
    }

    #logo,
    .distro-icon,
    .tagimage,
    .chart-container,
    .sidebaritem img,
    .arrow-icon,
    .small-icon,
    #sidebarbtn,
    .placeholder-icon,
    .warn-icon {
        filter: invert(1);
    }

    .sidebaritem:hover {
        background-color: var(--bg-translucent-alt) !important;
    }

    .sidebaritem {
        background-color: var(--bg-translucent) !important;
        border: var(--outline-strong);
    }
}