Options -Indexes
RewriteEngine On

RewriteCond %{HTTP_HOST} ^distro\.ownyoursystem\.de$ [NC]
RewriteRule ^$ /distropicker/ [L]

RewriteCond %{HTTP_HOST} ^distro\.ownyoursystem\.de$ [NC]
RewriteCond %{REQUEST_URI} !^/distropicker/
RewriteCond %{REQUEST_URI} !^/_astro/
RewriteCond %{REQUEST_URI} !^/fonts/
RewriteRule ^(.*)$ /distropicker/$1 [L]

AddType image/svg+xml .svg
AddType image/svg+xml .svgz

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json image/svg+xml
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
    ExpiresByType text/html "access plus 0 seconds"
    ExpiresByType text/css "access plus 0 seconds"
    ExpiresByType application/javascript "access plus 0 seconds"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresByType font/woff2 "access plus 1 year"
</IfModule>

ErrorDocument 404 /404.html