---
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/home.css';
import '../styles/gradients.css';
import '../styles/mobile.css';
---

<BaseLayout title="Year of Linux">

   <h1 class="pop">404</p>
    <style>
        .pop{
            font-size:200px;
        }
    </style>
</BaseLayout>
