---
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/distropicker.css';
import '../styles/mobile.css';
---

<BaseLayout title="Linux Distro Picker" description="Find the perfect Linux setup based on your workflow and preferences.">
  <div class="quiz">
    <div id="quiz-header">
      <div id="quiz-subtitle"></div>
      <div id="quiz-title"></div>
    </div>
    <div class="quiz-container" id="quiz-container">
      <div class="frage">
            <img src="/ui/radar.webp" id="radar">
           <h1>Find Your Perfect Linux Distribution</h1>
           </div>
          <div class="startpage" id="startpage">
            
        <p>
          Whether you are a Linux veteran or a total beginner, the <strong>Linux Distro Picker</strong> <sub>(beta)</sub>
          matches you with the ideal OS. We analyze your hardware and workflow to find a setup 
          that actually works for you.
        </p>
        <p>
          Take our 13-question quiz to receive a personalized recommendation for your next 
          desktop environment and distribution.
        </p>

            <button onclick="Startquiz();" id="start-btn">GO</button>
          </div>
        <div class="result-container" id="result-container"></div>
        <div id="more-button-container"></div>
        <div class="choice-container" id="choice-container"></div>
    </div>
  </div>

  <script>
    import "../scripts/dp_main.js";
    import "../scripts/dp_resize.js";
  </script>
</BaseLayout>