---
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/distropicker.css';
import '../styles/mobile.css';
---

<BaseLayout title="Find the perfect Linux Distro" description="...">
  <div class="quiz">
    <div id="quiz-header">
      <div id="quiz-subtitle"></div>
      <div id="quiz-title"></div>
    </div>
    <div class="quiz-container" id="quiz-container">
        <div class="result-container" id="result-container"></div>
        <div id="more-button-container"></div>
        <div class="choice-container" id="choice-container"></div>
    </div>
  </div>

  <script>
    import "../scripts/dp_main.js";
  </script>
</BaseLayout>