---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/foss.css";
---

<BaseLayout title="Alternativen">
    <link rel="stylesheet" href="/css/foss.css" />

    <div class="comparison-header">
        <h1>FOSS Alternatives</h1>
        <p>Proprietary Software vs. Open Source Apps</p>
    </div>
    <div id="comparison-list"></div>
    <script>
        import "../scripts/foss.js";
    </script>
</BaseLayout>
