<header class="header">
    <img
        id="sidebarbtn"
        onclick="openSidebar()"
        src="/ui/open-menu-symbolic.svg"
        alt="Open Sidebar"
    />
    <img
        id="logo"
        src="/ui/logo-small.webp"
        alt="Home"
    />

    <a href="https://github.com/ChristophKloos/ownyoursystem.de" target="_blank" class="github-pill">
        <span class="status-dot"></span> now on github
    </a>
</header>
