---
const { title = "Distropicker" } = Astro.props;
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";

import "../styles/global.css";
import "../styles/theme_light.css";
import "../styles/theme_dark.css";
import "../styles/part_sidebar.css";
import "../styles/part_landingpage.css";
import "../styles/part_question.css";
import "../styles/part_results.css";
import "../styles/part_finetune.css";
import "../styles/part_header.css";
import "../styles/mobile.css";
---

<!doctype html>
<html lang="en">
    <script>
        if (history.scrollRestoration) {
            history.scrollRestoration = "manual";
        }

        window.addEventListener("load", function () {
            window.scrollTo(0, 0);
        });
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.75" />
    <title>Own Your System</title>
    <meta
        http-equiv="Cache-Control"
        content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    <link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png" />

    <body>
        <Sidebar />
        <Header />

        <main>
            <slot />
        </main>

        <script></script>
    </body>
</html>
